{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shorten URLs</title>
</head>
<body>
    <h1> SHORTEN URLs </h1>
    <form id="long_url"  action="http://localhost:8000/" method="POST">
        {% csrf_token %}
        <input type="text" name="long_url"/>
        <button type="submit">submit</button>
        <a href="short.html" ></a>
    </form>
    {% for url in urls %}
        <h2>short_url</h2>
            <a href="short.html"></a>
    {% endfor %}
</body>
</html>
