<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Suite</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="base.html">Home</a>
        <a href="contact.html">Contact</a>
        <a href="register.html">Sign Up</a>
    </div>
    <div class="img-box">
        <img src="static/images/matix.gif" alt="background image">
    </div>
    <footer class="footer">
        <a href="http://jstnhmltn.github.io">&copy Justin Hamilton</a>
    </footer>
    <script src="static/main.js"></script>
</body>
</html>