{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WHatevre</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a href="{% url 'showcase_index' %}" class="navbar-brand" >Showcase</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <!-- {% if user.is_authenticated %} -->
                  <li class="nav-item active">
                    <a href="{% url 'dashboard' %}" class="nav-link">Your Dashboard</a>
                  </li>
                  <li class="nav-item active">
                    <a href="{% url 'model_form_upload' %}" class="nav-link">Portfolio</a>
                  </li>
                  <li class="nav-item active">
                    <a href="{% url 'showcase_index' %}" class="nav-link">Log Out</a>
                  </li>
                  <!-- {% else %} -->
                  <li class="nav-item active">
                    <a href="{% url 'register' %}" class="nav-link">Sign Up</a>
                  </li>
                  <!-- <li class="nav-item active">
                    <a href="{% url 'login' %}" class="nav-link">Log In</a> -->
                  </li>
                  <li class="nav-item active">
                    <a href="{% url 'about' %}" class="nav-link">About</a>
                  </li>
                  <!-- {% endif %} -->
                </ul>
              </div>
        </div>
    </nav>
    <div class="container">
      {% block page_content %} {% endblock %}
    </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

