{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Showcase</h1>
<div class="row">
{% for showcase in showcases %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static Upload.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ Upload.title }}</h5>
                <p class="card-text">{{ Upload.description }}</p>
                <a href="{% url 'showcase_detail' Upload.pk %}"
                   class="btn btn-primary">Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}