{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>uploads</h1>
<div class="row">
{% for upload in uploads %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img src="{{ upload.image.url }}" alt="{{ upload.title }}" height="200" width="100">
            <div class="card-body">
                <h5 class="card-title">{{ upload.title }}</h5>
                <p class="card-text">{{ upload.description }}</p>
                <a href="{% url 'showcase_detail' upload.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}