body {
    background-color: lightblue;
  }
  
  h1, h2, h3 {
    color: rgb(159, 185, 40);
    text-align: center;
  }
  
  p {
    font-family: geneva;
    font-size: 20px;
  }
  
div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }